@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;

}
header,
footer{
    background-color: #1F2937;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}
div.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: salmon; */
}
div.logo figure img{
    width: 50px;
    height: 50px;
}
span{
    font-size: 24px;
    font-weight: 500;
    color: #f9faf8;
}
ul{
    list-style: none;
    display: flex;
}
li{
    margin: 30px;
}
a{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}
div.hero{
    display: flex;
    flex-direction: row;
}
div.hero-text{
    display: flex;
    padding-top: 5.5rem;
    padding-left: 7rem;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
p{
    font-size: 18px;
    color: #f9faf8;
    width: 650px;
    line-height: 27px;
}
button{
    width: 80px;
    height: 50px;
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    outline: none;
    border-radius: 5px;
}
div.hero-image{
    flex: 1;
    /* background-color: #f9faf8; */
    display: flex;
    
}
div.svg-do{
    width: 100px;
    /* background-color: salmon; */
   
}
div.svg-do_flex-end{
    width: 100px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}
svg{
    color: #E5E7EB;
}
div.hero-image figure{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #3882f6; */
}
div.hero-image figure img{
    width: 400px;
    height: 400px;
}
section{
    display: flex;
    flex-direction: column;
}
.man-header h2{
    text-align: center;
    color: black;
}
.man-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.man-content{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: salmon; */
}
p.man-contents-p{  
    width: 250px;
    text-align: center;
    color: #000;
    font-size: 14px;
}
.man-content .man-contents-1{
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 15px;
    margin: 40px 30px 0;
    background-image: url(./images/lime-g97c84336a_1920.jpg);
    background-size: cover;
    background-position: center;
}
.man-content .man-contents-2{
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 15px;
    margin: 40px 30px 0;
    background-image: url(./images/wildlife-g44a8d218f_1920.jpg);
    background-size: cover;
    background-position: center;
}
.man-content .man-contents-3{
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 15px;
    margin: 40px 30px 0;
    background-image: url(./images/flow-gfb6785d44_1920.jpg);
    background-size: cover;
    background-position: center;
}
.man-content .man-contents-4{
    width: 200px;
    height: 200px;
    border: 5px solid #3882f6;
    border-radius: 15px;
    margin: 40px 30px 0;
    background-image: url(./images/bee-ge6536b259_1920.jpg);
    background-size: cover;
    background-position: center;
}
.man-contents figure img{
    width: 100px;
    height: 100px;
    /* object-fit: cover; */
}
section:nth-child(3){
    background-color: #E5E7EB;
    margin-top: 60px;
}
.quote-container{
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    /* justify-content: center;
    align-items: center; */
    gap: 8px;
}
.quote__passage {
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote__passage p{
 font-size: 26px;
 color: #1f2937;  
 line-height: 54px; 
 letter-spacing: .5px;
}
.quote__author{
    display: flex;
}
.author-1{
    flex-grow: 2;
    /* flex-shrink: 5; */
}
.author-2{
    flex-grow: 1;
    /* flex-shrink: 0; */
}
.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-to-action_container{
    background-color: #3882f6;
    display: flex;
    flex-direction: row;
    padding: 45px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.call-to-action-wrapper-1 h4{
    color: #f9faf8;
}
.call-to-action-wrapper-1 p{
    font-size: 14px;
}
.call-to-action-wrapper-2 button{
    border: 2px solid #f9faf8;
    padding: 0;
    width: 140px;
    font-weight: bolder;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
div.footer-container{
    text-align: center;
}